<h1>Crawl URL</h1>

<div class="jumbotron">
    <h4 style="color: #d58512">Crawled URLS will be shown here....</span></h4>
    <?php if (isset($this->crawlData)): ?>
        <?php foreach($this->crawlData as $key => $value): ?>
    <p><?php echo ucfirst($key) . " ==> " . $value; ?></p>
        <?php endforeach; ?>
    <?php endif; ?>
</div>

<p>
    Please fill out the following form to crawl. 
</p>

<form name="contact-form" action="/crawler" method="post">        
    <div class="row">
        <?php echo $this->jsonData; ?>
    </div>
    <div class="form-group">
        <label for="url">Your URL</label>
        <input name="url" type="text" class="form-control" 
               placeholder="http://www.example.com">
               <?php if (!empty($this->errorMessage)): ?>
        <p style="color: red"><?php echo $this->errorMessage; ?></p>
        <?php endif; ?>
    </div>

    <input name="submit" type="submit"
           class="btn btn-primary" value="Submit">
</form>