<div class="jumbotron">
    <h2>Welcome to <span class="zf-green">Simple Crawler Application</span></h2>
    <p><a class="btn btn-success btn-lg" href="<?= $this->url('crawler') ?>">Crawl URL from here</a></p>
</div>